<link rel="stylesheet" href="{{asset('css/header.css')}}">

<header>    
    <div class="logo">
            <img src="{{asset('images/tel.png') }}" alt="logo telephone"> 
        <p class="header-p"> 06 36 66 36 67</p>
    </div>
    <div class="menu" id="menu">
        <a href="{{ path('home_page') }}"                
        {% if app.request.pathinfo == path('home_page') %}
            class= "active"
            {% endif %}>       
                ACCUEIL
            </a>
            <a href="{{ path('benefit_page') }}"                
            {% if app.request.pathinfo == path('benefit_page') %}
            class= "active"
            {% endif %}>       
                PRESTATION
            </a>
            <a href="{{ path('devis') }}"                
            {% if app.request.pathinfo == path('devis') %}
            class= "active"
            {% endif %}> 
                DEVIS
            </a>        
            <a href="{{ path('contact') }}"                
            {% if app.request.pathinfo == path('contact') %}
            class= "active"
            {% endif %}>
                CONTACT
            </a>   
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('logout')}}">DÉCONNEXION</a>
            <a href=" {{ path('admin')}} "  >
                <div class="initiales">
                    {{ app.user.firstname | slice(0, 1)}}
                    {{ app.user.lastname | slice(0, 1)}}
                </div>
            </a>
            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('logout')}}">DÉCONNEXION</a>  
                <a href=" {{ path('user')}} "  >
                    <div class="initiales">
                        {{ app.user.firstname | slice(0, 1)}}
                        {{ app.user.lastname | slice(0, 1)}}
                    </div>
                </a>
                {% else %}
                    <a href="{{ path('signup') }}">INSCRIPTION</a>   
                    <a href="{{ path('login') }}" > CONNEXION </a> 
            {% endif %} 
        </div>
        <button class="burger" id="burger">
            <div class="bar" id="bar"></div>
        </button>      

</header>

<script>
    function toggleMenu (){
        const menu = document.getElementById('menu');
        const burger = document.getElementById('burger');
        const bar = document.getElementById('bar')
        burger.addEventListener('click', () =>{
            menu.classList.toggle('show-menu');
            bar.classList.toggle('show-bar');
        });
    }
    toggleMenu();
</script>
