{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/rdv.css')}}">
{% endblock stylesheets %}



{% block title %}Vos rendez-vous{% endblock %}

{% block body %}

<h1>Vos rendez-vous à venir</h1>
{# <p>{{ reservation.lastname }}</p>
<p>{{ reservation.firstname }}</p>
<p>{{ reservation.email }}</p>
<p>{{ reservation.date }}</p>
<p>{{ reservation.time }}</p> #}

{% endblock %}
