{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/user-rdv.css')}}">
{% endblock stylesheets %}



{% block title %}Votre rendez-vous{% endblock %}

{% block body %}
<div class="rdv-user-container">
    <div class="content-rdv-user">
        <h1>Votre rendez-vous à venir</h1>
        <div class="separator2"></div>
        <p> Le : &nbsp{{ rdv.date | date("d/m/Y", "Europe/Paris")  }}</p>
        <p> À :  &nbsp {{ rdv.time | date('H:i')}}</p>
        À notre adresse :   &nbsp 21 Quai Louis Lapicque, 88000 Épinal
        <div class="separator2"></div>
        <p> À Bientôt {{rdv.firstname}},</p>
        <p class="signature"> L'équipe de l'Atelier de Marie </p>
        
    </div>
    <div class="msg-rdv">
        <p id="myText"data-label="Merci pour votre confiance !"></p>
    </div>
</div>



{% endblock %}
