<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8">      
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="shortcut icon"  href="{{ asset('build/images/favicon.png') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        {% endblock stylesheets %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        {% endblock javascripts %}
    </head>
    <body>
        {{ include('partials/_header.html.twig') }}
        {% for cat, list in app.flashes %}
            {% for msg in list %}
                <div class="flash flash-{{cat}}">
                    {{msg}}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}
        {% endblock %}
        {{ include('partials/_footer.html.twig') }}
    </body>
</html>


